name: Release

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Check secrets
        env:
          OPT_ACCOUNT_ADDRESS: ${{ secrets.OPT_ACCOUNT_ADDRESS }}
          OPT_ACCOUNT_EMAIL: ${{ secrets.OPT_ACCOUNT_EMAIL }}
          OPT_ACCOUNT_NAME: ${{ secrets.OPT_ACCOUNT_NAME }}
          OPT_ACCOUNT_PASSWORD: ${{ secrets.OPT_ACCOUNT_PASSWORD }}
          OPT_ACCOUNT_SECRET_KEY: ${{ secrets.OPT_ACCOUNT_SECRET_KEY }}
          OPT_CREATE_TEST_USER: ${{ secrets.OPT_CREATE_TEST_USER }}
          OPT_TEST_USER_EMAIL: ${{ secrets.OPT_TEST_USER_EMAIL }}
        run: |
          if [[ -n "$OPT_ACCOUNT_ADDRESS" && -n "$OPT_ACCOUNT_EMAIL" && -n "$OPT_ACCOUNT_NAME" && -n "$OPT_ACCOUNT_PASSWORD" && -n "$OPT_ACCOUNT_SECRET_KEY" && -n "$OPT_CREATE_TEST_USER" && -n "$OPT_TEST_USER_EMAIL" ]]; then
            echo "HAS_SECRETS=true" >> "$GITHUB_ENV"
          else
            echo "HAS_SECRETS=false" >> "$GITHUB_ENV"
          fi

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: validate
    permissions:
      actions: read
      contents: read
      security-events: write
    
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: 'csharp'
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        env:
          OPT_ACCOUNT_ADDRESS: ${{ secrets.OPT_ACCOUNT_ADDRESS }}
          OPT_ACCOUNT_EMAIL: ${{ secrets.OPT_ACCOUNT_EMAIL }}
          OPT_ACCOUNT_NAME: ${{ secrets.OPT_ACCOUNT_NAME }}
          OPT_ACCOUNT_PASSWORD: ${{ secrets.OPT_ACCOUNT_PASSWORD }}
          OPT_ACCOUNT_SECRET_KEY: ${{ secrets.OPT_ACCOUNT_SECRET_KEY }}
          OPT_CREATE_TEST_USER: ${{ secrets.OPT_CREATE_TEST_USER }}
          OPT_RUN_LIVE_TESTS: ${{ env.HAS_SECRETS }}
          OPT_TEST_USER_EMAIL: ${{ secrets.OPT_TEST_USER_EMAIL }}
        run: dotnet test --configuration Release --no-build --verbosity normal
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
